//
//  credentials.swift.example
//  UnwatchedShared
//

import Foundation

public struct Credentials {
    public static let youtubeApiKey: String = "YouTubeDataApiKeyHere"
    public static let unwatchedPremiumApiKey: String = "YouTubeDataApiKeyHere"
}
