:root {
  color-scheme: light dark;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: 40px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  text-align: center;
  color: #333;
  background-color: #f9f9f9;
}

.icon {
  margin-top: 16px;
  width: 96px;
  height: 96px;
  background-color: currentColor;
  -webkit-mask-image: url("images/toolbar-icon.svg");
  mask-image: url("images/toolbar-icon.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #1e1e1e;
  }
}
